@model IEnumerable<Examen_ASP.Net.Models.User>

@{ ViewBag.Title = "Login";
                 Layout = "~/Views/Shared/_AdminLayout.cshtml"; }


<div class="content">
    <div class="row">
        <div class="col">
            <div class="block block-rounded">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Users list</h3>

                </div>
                <div class="block-content">
                    <table class="table table-vcenter">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Acount Type</th>
                                <th>Status</th>
                                <th>Change Status</th>
                                <th class="text-center" style="width: 150px;">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Role == "admin" || item.Role == "Admin")
                                {
                                    continue;
                                }

                                <tr>
                                    <td class="text-center" scope="row">
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td class="fw-semibold fs-sm">
                                        @Html.DisplayFor(modelItem => item.Name)

                                    </td>
                                    <td class="fw-semibold fs-sm">
                                        @Html.DisplayFor(modelItem => item.Email)

                                    </td>

                                    <!--Acount Type-->
                                    <td class="fw-semibold fs-sm">
                                        @Html.DisplayFor(modelItem => item.Role)

                                    </td>
                                    <!--Status-->
                                    <td class="fw-semibold fs-sm">
                                        @if (item.Favorite == null || item.Favorite == "none")
                                        {
                                    <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-info-light text-info">none</span> }
                                else
                                {
                                    if (item.Favorite == "Favorite" || item.Favorite == "favorite")
                                    {
                                    <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-success-light text-success">Favorite</span> }
                                else if (item.Favorite == "Black list")
                                {


                                    <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-danger-light text-danger">Black Listed</span>
                                }
                                else
                                {
                                    <span class="fs-xs fw-semibold d-inline-block py-1 px-3 rounded-pill bg-info-light text-info">none</span>
                                }
                            }
                                    </td>
                                    <!-- change status-->
                                    <td class="text-center">
                                        <div class="d-flex">

                                            <form action="@Url.Action("Edit", "Users")" class="me-1" method="post">
                                                @Html.AntiForgeryToken()

                                                <input type="hidden" value="Black list" class="favorite" name="favorite" id="favorite">
                                                <input type="hidden" name="id" value="@item.Id">

                                                <div class="btn-group">
                                                    <button type="submit" class="btn btn-sm btn-alt-secondary">
                                                        <i class="fa fa-fw fa-ban"></i>
                                                    </button>
                                                </div>
                                            </form>
                                            <form action="@Url.Action("Edit", "Users")"  class="me-1" method="post">
                                                @Html.AntiForgeryToken()

                                                <input type="hidden" value="favorite" class="favorite" name="favorite" id="favorite">
                                                <input type="hidden" name="id" value="@item.Id">

                                                <div class="btn-group">
                                                    <button type="submit" class="btn btn-sm btn-alt-secondary">
                                                        <i class="fa fa-fw fa-heart"></i>
                                                    </button>
                                                </div>
                                            </form>
                                            <form action="@Url.Action("Edit", "Users")"  class="me-1" method="post">
                                                @Html.AntiForgeryToken()

                                                <input type="hidden" value="none" class="favorite" name="favorite" id="favorite">
                                                <input type="hidden" name="id" value="@item.Id">

                                                <div class="btn-group">
                                                    <button type="submit" class="btn btn-sm btn-alt-secondary">
                                                        <i class="fa fa-fw fa-times"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                    </td>

                                    <td class="text-center">
                                        <input type="hidden" value=" @Html.DisplayFor(modelItem => item.Id)" class="categoryId" id="categoryId">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-alt-secondary js-bs-tooltip-enabled modelButton " data-bs-toggle="modal" data-bs-target="#modal-block-vcenter">
                                                <i class="fa fa-fw fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Top Block Modal -->
<div class="modal mt-5" id="modal-block-vcenter" tabindex="-1" role="dialog" aria-labelledby="modal-block-vcenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top" role="document">
        <div class="modal-content">
            <div class="block block-rounded block-transparent mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Delete User</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content text-danger mb-3">
                    Deleting this product will automatically delete all products posted by this one
                </div>
                <div class="d-flex justify-content-end block-content-full text-end bg-body">
                    <button value="close" type="button" class="btn btn-sm btn-alt-secondary me-1 mx-2" data-bs-dismiss="modal">Close</button>
                    <form action="@Url.Action("Delete", "Users")" method="post" class="m-3">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" class="deletedCategory" value="">
                        <button type="submit" value="delete" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Top Block Modal -->

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/assets/js/oneui.app.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modelButton').on('click', function () {
            $tr = $(this).closest('tr');
            var data = $tr.children("td").map(function () {
                return $(this).text();
            }).get();
            var deletedEntity = document.querySelector(".deletedCategory");
            deletedEntity.value = data[0];
            console.log(deletedEntity.value);
        });
    });
</script>
